/* Global Syles */

body {
    background-color: black;
}
img {
    display: block;
    max-width: 90%;
    width: auto;
    margin: 0 auto;
    align-content: center;
    
}

/* Mobile Styles */

#container {
    background-color: gold;
        margin: 10px;

    }

header {
background-image: url(images/IMG_1029.JPG);
background-size: cover;
padding: 600px 20;
margin: 60px;
align-content: center;
font-size: larger;



}
header h1 {
    text-align: center;
    text-shadow: 3px 3px 3px rgb(216, 87, 162);
    color: black;
    font-family: 'Pacifico', cursive;
    background-size: cover;
   

}
nav ul{
list-style-type: none;
padding: 0;

}
nav li a {
    display: block;
    background-color: gold;
    color: turquoise;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 10px 0;
    border-radius: 7px;
    box-shadow: white;
    font-family: 'Mochiy Pop One', sans-serif;
}

nav li a:hover {
    background-color: deeppink;
    text-shadow: wheat;
    font-family: 'Mochiy Pop One', sans-serif;
}


nav, section, aside, .col, footer {
background-color: sandybrown;
padding: 30px;
margin: 20px;
border-radius: 20px;
border: 1px greenyellow;
font-family: 'Mochiy Pop One', sans-serif;
}

h2, h3 {
color: turquoise;
text-shadow: 2px 2px 2px black;
font-size: 2.5em;
text-align: center;
font-family: 'Mochiy Pop One', sans-serif;


}

section img, aside img {
    width: 70%;

}

.button {
    display: block;
    background-color: black;
    color: yellow;
    height: 50px;
    width: 200px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    margin: 20px auto;
    border-radius: 10px;


}
.button:hover {
  background-color: deeppink;
   text-shadow: 2px 2px 2px turquoise;
}

footer {
    font-size: 1.5em;
    text-align: center;
    color: slateblue;
    font-family: 'Architects Daughter', cursive;

}

.single_col {
    width: 83%;
}

audio, video {
    display: block;
    margin: 20px auto;
    width: 75%;

}
iframe {
    display: block;
    margin: 20px auto;
}

.gallery_img {
    background-color: cyan;
    border: chartreuse;
    
}

/* Tablet Styles */

@media(min-width: 768px) {
    header {
        padding: 125px;


    }
header h1 {
    font-size: 3em;
}
nav {
    text-align: center;
    padding: 5px;
}

nav li {
display: inline-block;


}

nav li a {
height: 50px;
line-height: 50px;
width: 200px;

}
#upper_flex {
    display: flex;
}

section, aside {
    width: 50%;

}

.col img {
    width: 75%;
    border-radius: 7px;
    border: gold 4px solid;
}
.single_col {
    width: 100%;
}

/* Desktop Styles */

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 10px auto;
        border: 4px solid lime;
        border-radius: 20px;

    }
    header {
        border-radius: 20px 20px 0 0;

    }
    nav li a {
        margin: 0 20px;
    }
    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;

    }
    .col img {
    width: 100%;
    }

    .single_col {
        width: 100%;
    }

    table, tr, td {
        border: 4px solid black;
        padding: 10px;
        margin: 10px;
    }

    table img {
        width: 75%;
        }
.gallery {
    display: none;

}
table {
    display: block;
}



